/* Mise en page générale */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    min-height: 300px;
}

.container:hover {
    transform: scale(1.02);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.box {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: border-color 0.2s ease;
}



.boxPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.resultDevise h2 {
    font-size: 20px;
    color: #28a745;
    margin-top: 20px;
    font-weight: bold;
}



/* Réactivité (Responsive) */
@media (max-width: 600px) {
    .container {
        width: 90%;
        max-width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .box label, .resultDevise h2 {
        font-size: 14px;
    }

    input, select {
        font-size: 14px;
    }
}
